<header id="malmo-masthead" role="banner" class="mf-v4">

  <div class="nav-logo">
       <a href="<%= APP_CONFIG['sv_base_url']%>"
          title="Till startsidan malmo.se">
           <img class="logo"
                src="<%= APP_CONFIG['asset_host']%>external/logo-x2-transp.png"
                alt="Malmö stads logotyp">
       </a>
  </div>

  <div class="nav-right-wrapper">
    <button type="button" class="m-icon-search-0" title="Sök på malmo.se" id="search-trigger"></button>

    <div id="masthead-search" class="mf-v4">
      <form action="<%= APP_CONFIG['site_search_url'] %>" method="get" role="search">
        <div class="input-group input-group-sm">
          <label class="visuallyhidden" for="search-field">Sök på malmö.se, sökförslag kommer att visas nedanför när du matat in 2 bokstäver.</label>
                  <input name="q" class="q form-control" placeholder="Sök på malmo.se" type="text"
                        autocapitalize="off"
                        aria-label="Sök på malmo.se"
                        aria-haspopup="true"
                        aria-autocomplete="both"
                        data-autocomplete-url="https://sok.malmo.se/search/autocomplete"
                        data-images-url="https://sok.malmo.se" data-caller="Masthead"
                        id="search-field">
          <span class="input-group-btn">
            <input name="utf8" type="hidden" value="&#x2713;"/>
            <input class="btn btn-default" name="search-btn" type="submit" value="Sök"/>
          </span>
        </div>
      </form>
    </div>

    <nav class="dropdown" id="main-nav">
      <button type="button" data-toggle="dropdown" class="m-icon-menu-0" aria-expanded="false">
        <span class="text">Meny</span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="main-nav">
        <li>
            <a role="menuitem" href="https://sjalvservice.malmo.se/">Självservice</a>
        </li>
        <li>
            <a role="menuitem" href="<%= APP_CONFIG['sv_base_url']%>Service/Bygga-och-bo.html">Bo och bygga</a>
        </li>
        <li>
            <a role="menuitem" href="<%= APP_CONFIG['sv_base_url']%>Service/Du-och-dina-anhoriga.html">Du och dina anhöriga</a>
        </li>
        <li>
            <a role="menuitem" href="<%= APP_CONFIG['sv_base_url']%>Service/For-dig-som-vill-hjalpa-andra.html">För dig som vill hjälpa andra</a>
        </li>
        <li>
            <a role="menuitem" href="<%= APP_CONFIG['sv_base_url']%>Service/For-foreningar.html">För föreningar</a>
        </li>
        <li>
            <a role="menuitem" href="<%= APP_CONFIG['sv_base_url']%>Service/For-verksamhetsutovare.html">För verksamhetsutövare</a>
        </li>
        <li>
            <a role="menuitem" href="<%= APP_CONFIG['sv_base_url']%>Service/Kultur-och-fritid.html">Kultur och fritid</a>
        </li>
        <li>
            <a role="menuitem" href="<%= APP_CONFIG['sv_base_url']%>Service/Utbildning-och-forskola.html">Utbildning och förskola</a>
        </li>
        <li>
            <a role="menuitem" href="<%= APP_CONFIG['sv_base_url']%>Service/Var-stad-och-var-omgivning.html">Vår stad och vår omgivning</a>
        </li>
        <li>
            <a role="menuitem" href="<%= APP_CONFIG['sv_base_url']%>Service/Om-Malmo-stad.html">Om Malmö stad</a>
        </li>
        <li>
            <a role="menuitem" href="<%= APP_CONFIG['sv_base_url']%>Uppleva-och-gora.html">Uppleva och göra</a>
        </li>      
      </ul>
    </nav> 
    
  </div>

</header>
