<header id="malmo-masthead" role="banner" class="mf-v4">
  <div class="nav-logo"><a href="https://cityofmalmo.omniacloud.net">Komin</a></div>

  <ul id="nav-triggers">
    <li id="nav-menu-trigger"><a href="#">Meny <span class="m-icon-menu-0"></span></a></li>
    <li id="nav-search-trigger"><a href="<%= APP_CONFIG['site_search_url'] %>">Sök <span class="m-icon-search-0"></span></a></li>
  </ul>

  <nav class="masthead-main">
    <ul>
      <li id="nav-our-organization"><a href="<%= APP_CONFIG['sv_base_url'] %>Var-kommun">Vår kommun</a></li>
      <% if false %>
        <li id="nav-my-department">
            <a href="https://komin.test.malmo.se/forvaltningar.html">Min förvaltning</a>
        </li>
      <% end %>
    </ul>
  </nav>

  <div id="masthead-search">
    <form action="<%= APP_CONFIG['site_search_url'] %>" id="masthead-search-intranet">
      <span class="m-icon-search"></span>
      <div class="input-group">
        <label for="masthead-q-komin" class="input-group-addon m-icon-file-text-o"></label>
        <input name="q" id="masthead-q-komin" class="q form-control input-sm" autocapitalize="off" autocorrect="off" placeholder="Ett eller flera sökord" type="text" data-autocomplete-url="<%= APP_CONFIG['site_search_ac_url'] %>" data-images-url="<%= APP_CONFIG['site_search_url'] %>" data-caller="Masthead"/>
        <span class="input-group-btn">
          <input name="utf8" type="hidden" value="&#x2713;"/>
          <input class="btn btn-default" type="submit" value="Sök på Komin"/>
        </span>
      </div>
    </form>

    <form action="<%= APP_CONFIG['dashboard_base_url'] %>users/search" id="masthead-search-person">
      <div class="input-group">
        <label for="masthead-q-employee" class="input-group-addon m-icon-user"></label>
        <input name="q" id="masthead-q-employee" autocapitalize="off" autocorrect="off" class="form-control" placeholder="För- och/eller efternamn" type="text" data-autocomplete-url="<%= APP_CONFIG['dashboard_base_url'] %>users/suggest"/>
        <span class="input-group-btn">
          <input name="utf8" type="hidden" value="&#x2713;"/>
          <input class="btn btn-default" type="submit" value="Sök person"/>
        </span>
      </div>
    </form>
  </div>

  <nav id="masthead-others">
    <ul>
      <li class="map">
        <a href="<%= APP_CONFIG['sv_base_url'] %>karta" title="Karta" alt="Karta"><span class="m-icon-map-marker-0"></span></a>
      </li>
    </ul>
  </nav>
</header>
